* {
  box-sizing: border-box;
  transition: all 0.6s ease-in-out;
}

:root {
  --main-color: red;
}

.contact {
  padding: 20px;
  background-color: var(--main-color);
}

.header {
  color: green;
}

.footer {
  background-color: black;
}

.copyright {
  background-color: black;
}

.sidebar {
  background-color: violet;
  color: orange;
}

.nav {
  background-color: green;
}

.parent {
  font-size: 25px;
}
.parent .child {
  color: yellow;
}
.parent .child .child-child {
  font-size: 13px;
}

.parent_one,
.parent_two {
  padding: 20px;
}
.parent_one .child,
.parent_two .child {
  color: green;
}
.parent_one + p,
.parent_two + p {
  margin: 15px;
}

.parent_css > .element {
  font-weight: bold;
}
.parent_css > .element_two {
  display: block;
}

.arrow-div, .cart, section {
  font-size: 15px;
  font-weight: 500;
}

section {
  font-variant: normal;
}

.cart {
  display: inline;
}

.parent {
  font-size: 15px;
  font-weight: bold;
}
.parent.red {
  color: beige;
}
.parent.blue {
  color: aqua;
}

.page {
  background-color: red;
}

.box {
  border-radius: 6px;
}

.arrow-div {
  font-size: 20px;
  border: 1px solid #f0f0f0;
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  align-items: center;
  position: relative;
  margin: 50px auto;
}
.arrow-div::after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: red;
}

/*Comment*/
.ad-elzero-u7vxlh7 {
  /* Comment elzero */
  font-size: 20px;
  background-image: url("imgs/elzero.png");
}

ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cercle-100 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.cercle-200 {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.class-1 {
  font-size: 11px;
}

.class-2 {
  font-size: 12px;
}

.class-3 {
  font-size: 13px;
}

.class-4 {
  font-size: 14px;
}

.class-5 {
  font-size: 15px;
}

.class-6 {
  font-size: 16px;
}

.class-7 {
  font-size: 17px;
}

.class-8 {
  font-size: 18px;
}

.class-9 {
  font-size: 19px;
}

.class-10 {
  font-size: 20px;
}

.cercle-100 {
  width: 100px;
  height: 100px;
}

.cercle-200 {
  width: 200px;
  height: 200px;
}

.cercle-300 {
  width: 300px;
  height: 300px;
}

.cercle-400 {
  width: 400px;
  height: 400px;
}

.cercle-500 {
  width: 500px;
  height: 500px;
}

.cercle-600 {
  width: 600px;
  height: 600px;
}

.cercle-700 {
  width: 700px;
  height: 700px;
}

.cercle-800 {
  width: 800px;
  height: 800px;
}

.cercle-900 {
  width: 900px;
  height: 900px;
}

.cercle-1000 {
  width: 1000px;
  height: 1000px;
}

.red-themes .product {
  background-color: white;
  border-bottom: 2px solid red;
}
.red-themes .title {
  color: red;
  font-weight: bold;
}

.green-themes .product {
  background-color: white;
  border-bottom: 2px solid green;
}
.green-themes .title {
  color: green;
  font-weight: bold;
}

.yellow-themes .product {
  background-color: white;
  border-bottom: 2px solid yellow;
}
.yellow-themes .title {
  color: yellow;
  font-weight: bold;
}

.facebook {
  background-color: "blue";
}

.github {
  background-color: "red";
}

.youtube {
  background-color: "black";
}

.one {
  font-size: 20px;
  padding: 10px;
  background-color: red;
}

.two {
  font-size: 30px;
  padding: 15px;
  background-color: black;
}

.width-100 {
  width: 100px;
  height: 50px;
}

.width-200 {
  width: 200px;
  height: 100px;
}

.width-300 {
  width: 300px;
  height: 150px;
}

.width-400 {
  width: 400px;
  height: 200px;
}

.width-500 {
  width: 500px;
  height: 250px;
}

.width-600 {
  width: 600px;
  height: 300px;
}

.width-700 {
  width: 700px;
  height: 350px;
}

.width-800 {
  width: 800px;
  height: 400px;
}

.width-900 {
  width: 900px;
  height: 450px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.element {
  width: 200px;
  height: 100px;
  font-size: 600;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes wassim {}
@media (max-width: 767px) {
  .media {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .media {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */